.loading{
    position: absolute; left:0; top:0; bottom:0; right:0; background:rgba(0,0,0,0.7); z-index:998;
}
.loading img{
    width:100%; display:block; height:100%;
    /* transform:translateY(50%); */
}